/*---Estilos Menu 2----*/
#total{
	background: #DC0330;
}

#menu_base2{
  background: #DC0330 !important;
}

#menu_base2 ul li a{
   margin:5px 55px;
   color:white;
}

#menu_base2 #item{
    margin-top:30px;
}

#menu_base2 #user_data2{
    margin-top:20px;
}

#menu_base2 #user_data2 a{
    margin-top:20px;
    margin:0;
}

#menu_base2 .dropdown-item{
	color:black;
}

#menu_base2 #oculto{
    margin-top:10px;
}

/*---Fin Estilos Menu 2----*/

/*Inicio Nosotros*/

#total h1{
	color: white;
}

.cuerpoacerca ul li{
	list-style:none;
}	
/*Fin Nosotros*/

/*Contenido de administracion*/
#panel{
	margin-left:-30px;
}
/*Fin contenido administracion*/

/*Tabla*/

th{
  color:black;
}

/*.card-header, .card-body{
  background: #DC0330 !important;
}*/

#resultadoCompra ul li{
  list-style: none;
}

/*Fin Tabla*/

#datos_envio{
  width: 100%;  
  background: #DC0330;
  color: white;
  margin-left: 10px;
}

#datos_envio .row{
  margin:0 auto;
}

/*------Boton de Mensajeria----------*/
.btn-pay {
    letter-spacing: 1px;
    text-decoration: none;
    background: none;
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
    white-space: nowrap;
    font-size:14px;
    line-height:20px;
    font-weight:700;
    text-transform:uppercase;
    border: 3px solid;
    /*padding:8px 20px;*/
    margin-left: -15px ; 
    width: 100%;
}

.btn-outlined {
    border-radius: 0;
    -webkit-transition: all 0.3s;
       -moz-transition: all 0.3s;
            transition: all 0.3s;
}

.btn-outlined.btn-theme {
    background: none;
    color: #DC0330;
    border-color: #DC0330;
}

.btn-outlined.btn-theme:hover,
.btn-outlined.btn-theme:active {
    color: #FFF;
    background: #DC0330;
    border-color: #DC0330;
}

.btn-xs{
  font-size:11px;
  line-height:14px;
  border: 1px solid;
  padding:5px 10px;
}

.btn-sm{
  font-size:12px;
  line-height:16px;
  border: 2px solid;
  padding:8px 15px;
}

.btn-lg{
  font-size:18px;
  line-height:22px;
  border: 2px solid;
  padding:13px 40px;
}

/*----Fin Boton Mensajeria--------*/

.summary-block { border-bottom: 2px solid #d7d9de; }
.summary-block:last-child { border-bottom: 0px; }
.summary-content { padding: 28px 0px; }
.summary-price { color: #094bde; font-size: 20px; font-weight: 400; letter-spacing: -1px; margin-bottom: 0px; display: inline-block; float: right; }
.summary-small-text { font-weight: 700; font-size: 12px; color: #8f929a; }
.summary-text { margin-bottom: -10px; }
.summary-title { font-weight: 700; font-size: 14px; color: #1c1e22; }
.summary-head { display: inline-block; width: 120px; }
.widget { margin-bottom: 30px; background-color: #e9ebef; padding: 50px; border-radius: 6px; }
.widget:last-child { border-bottom: 0px; }
.widget-title { color: #094bde; font-size: 16px; font-weight: 700; text-transform: uppercase; margin-bottom:0px; letter-spacing: 1px; display: table; line-height: 1; }

/*botones stilizados*/


/*botones stilizados*/


.wrap {
  width: 450px;
  margin: 0 auto;
}

.mat-label {
  display: block;
  margin-left:5px;
  margin-bottom: -15px;
  font-size: 16px;
  transform: translateY(spx);
  color: #8E8DBE;
  transition: all 0.5s;
}

.mat-input {
  position: relative;
  background: transparent;
  width: 100%;
  height: 0px;
  border-left: 1px solid #8E8DBE;
  border-top:none;
  border-right: 1px solid #8E8DBE;
  border-bottom: 1px solid #8E8DBE;
  outline: none;
  padding: 8px 0;
  font-size: 16px;
}


.mat-div {
  padding: 30px 0 0 0;
  position: relative;
}

.mat-div:after, .mat-div:before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  transition: all 0.5s;
}

.mat-div::after {
  background-color: #8E8DBE;
  transform: scaleX(0);
}

.is-active::after {
  transform: scaleX(1);
}

.is-active .mat-label {
  color: #8E8DBE;
}

.is-completed .mat-label {
  font-size: 14px;
  transform: translateY(0);
  margin-bottom:0;
}

#registro {
  background-color: #fff;
  border: 1px solid #DC0330;
  width: 70%;
  height:40px;
  display: block;
  margin: 80px auto;
  padding: 2px 20px;
  cursor: pointer;
  color:#DC0330;
}

#registro2 {
  background-color: #fff;
  border: 1px solid #DC0330;
  width: 50%;
  height:40px;
  display: block;
  margin: 10px auto;
  padding: 2px 20px;
  cursor: pointer;
  color:#DC0330;
}

.hey{
  margin:-70px auto;
  margin-bottom:50px;
  text-align:center;
  font-size:12px;
}
/*Fin de botones de registro inputs*/

/************Seccion Contacto************/
#correos ul{
  margin:0 40px;
  color:red;
}

#correos ul li{
  padding:2px;
}

#correos ul li a{
  text-decoration:underline;
}

.find{
  text-align:justify;
  color:#AFAFAF;
}

.icons ul{
  margin:0 40px;
}

.icons ul li a{
  color:#AFAFAF;
}

#tittleSesion{
  float:left;
  padding:23px 3px;
  margin-left:75px;
}
#tittleRegistre{
  color:#900C3F;
  padding:23px 3px;
}

#tittleSesion2{  
  padding:23px 3px;  
}

#tittleRegistre2{
  float:left;
  color:#900C3F;
  padding:23px 3px;
  margin-left:75px;
}

/* +++++++++++++++++++Tabs++++++++++++++++*/
section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#tabs{
  background: #transparent;
    color: #AFAFAF;
}

#tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #f3f3f3;
    background-color: transparent;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 4px solid !important;
    font-size: 20px;
    font-weight: bold;
}
#tabs .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #AFAFAF;
    font-size: 20px;
}


@media (max-width: 990px) {
  #rojito{
    display:inline;
    margin:0 auto !important;
  }
 
  #oculto, #logo{
    display:none;
  }

  #menu_base2 ul li a{
    margin:0;
  }

  #subtitulo{
    color: white;
    position: absolute; 
    margin: 180px 60px;
  }

  #subtitulo1{
    color: red;
    position: absolute; 
    margin: 140px 60px;
  }

  .wrap {
    width: 100%;
    margin: 0 auto;
  }

}

@media(max-width:420px){
  #rojito{
      display:inline;
      margin:0 auto !important;
  }

  .wrap {
    width: 100%;
    margin: 0 auto;
  }

  #tittleSesion{
    float:left;
    padding:2px 3px;
    margin-left:20px;
    font-size:24px;
  }
  
  #tittleRegistre{
    color:#900C3F;
    padding:2px 3px;
    font-size:24px;
  }

  #tittleSesion2{  
    padding:2px 3px;
    font-size:24px;  
  }

  #tittleRegistre2{
    float:left;
    color:#900C3F;
    padding:2px 3px;
    margin-left:20px;
    font-size:24px;
  }

  .icons ul{
    margin:0 -20px;
    color:red;
  }

  /************Seccion Contacto************/
  #correos ul{
    margin:0 -30px;
    color:red;
  }

  #correos ul li{
    padding:2px;
  }

  #correos ul li a{
    text-decoration:underline;
  }
}