/***********ESTRUCTURA BASICA**************/
section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#total{
  background: #DC0330;
}

#total h1{
  color: white;
}

.cuerpoacerca ul li{
  list-style:none;
}



/***********ESTRUCTURA MENU 2**************/
#menu_base2{
  background: #DC0330 !important;
  margin:0 auto;
  /*border:1px solid white;*/
}

#menu_base2 ul li a{
  margin:5px 55px;
  color:white;
}

#menu_base2 .item{
  margin-top:30px;
}

#menu_base2 #user_data2{
  margin-top:20px;
}

#menu_base2 #user_data2 a{
  margin-top:20px;
  margin:0;
}

#menu_base2 .dropdown-item{
  color:black;
}

#menu_base2 #oculto{
  margin-top:10px;
}

/*+++++++++CHECKOUT+++++++++++++*/
#resultadoCompra ul li{
  list-style: none;
}

#datos_envio{
  width: 100%;  
  background: #DC0330;
  color: white;
  margin-left: 10px;
}

#datos_envio .row{
  margin:0 auto;
}

/*+++++++++MESAJERIA+++++++++++++*/
.btn-pay {
  letter-spacing: 1px;
  text-decoration: none;
  background: none;
  -moz-user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 0;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
  white-space: nowrap;
  font-size:14px;
  line-height:20px;
  font-weight:700;
  text-transform:uppercase;
  border: 3px solid;
  /*padding:8px 20px;*/
  margin-left: -15px ; 
  width: 100%;
}

.btn-outlined {
  border-radius: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-outlined.btn-theme {
  background: none;
  color: #DC0330;
  border-color: #DC0330;
}

.btn-outlined.btn-theme:hover,
.btn-outlined.btn-theme:active {
  color: #FFF;
  background: #DC0330;
  border-color: #DC0330;
}

.btn-xs{
  font-size:11px;
  line-height:14px;
  border: 1px solid;
  padding:5px 10px;
}

.btn-sm{
  font-size:12px;
  line-height:16px;
  border: 2px solid;
  padding:8px 15px;
}

.btn-lg{
  font-size:18px;
  line-height:22px;
  border: 2px solid;
  padding:13px 40px;
}

/*+++++++++DISEÑO INPUTS+++++++++++*/
.wrap{
  width: 450px;
  margin: 0 auto;
}

.mat-label {
  display: block;
  margin-left:5px;
  margin-bottom: -5px;
  font-size: 16px;
  transform: translateY(spx);
  color: #8E8DBE;
  transition: all 0.5s;
}

.mat-input {
  position: relative;
  background: transparent;
  width: 100%;
  height: 0px;
  border-left: 1px solid #8E8DBE;
  border-top:none;
  border-right: 1px solid #8E8DBE;
  border-bottom: 1px solid #8E8DBE;
  outline: none;
  padding: 8px 0;
  font-size: 16px;
}

.mat-div {
  padding: 30px 0 0 0;
  position: relative;
}

.mat-div:after, .mat-div:before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  transition: all 0.5s;
}

.mat-div::after {
  background-color: #8E8DBE;
  transform: scaleX(0);
}

.is-active::after {
  transform: scaleX(1);
}

.is-active .mat-label {
  color: #8E8DBE;
}

.is-completed .mat-label {
  font-size: 14px;
  transform: translateY(0);
  margin-bottom:0;
}

#registro {
  background-color: #fff;
  border: 1px solid #DC0330;
  width: 70%;
  height:40px;
  display: block;
  margin: 80px auto;
  padding: 2px 20px;
  cursor: pointer;
  color:#DC0330;
}

#registro2 {
  background-color: #fff;
  border: 1px solid #DC0330;
  width: 50%;
  height:40px;
  display: block;
  margin: 10px auto;
  padding: 2px 20px;
  cursor: pointer;
  color:#DC0330;
}

#favorite {
  background-color: #fff;
  border: 1px solid #AFAFAF;
  width: 70%;
  height:40px;
  display: block;
  margin: 80px auto;
  padding: 2px 20px;
  cursor: pointer;
  color:#AFAFAF;
}

.hey{
  margin:-70px auto;
  margin-bottom:50px;
  text-align:center;
  font-size:12px;
}

/*+++++++++SECCION CONTACTO+++++++++++*/
#correos ul{
  margin:0 40px;
  color:red;
}

#correos ul li{
  padding:2px;
}

#correos ul li a{
  text-decoration:underline;
}

.find{
  text-align:justify;
  color:#AFAFAF;
}

.icons ul{
  margin:0 40px;
}

.icons ul li a{
  color:#AFAFAF;
}

#tittleSesion{
  float:left;
  padding:23px 3px;
  margin-left:75px;
}

#tittleRegistre{
  color:#900C3F;
  padding:23px 3px;
}

#tittleSesion2{  
  padding:23px 3px;  
}

#tittleRegistre2{
  float:left;
  color:#900C3F;
  padding:23px 3px;
  margin-left:75px;
}
