@import url('base2.css')screen;
@import url('styleproduct.css')screen;


@font-face {
    font-family: Roboto-Black;
    src: url(../fonts/Roboto-Black.ttf) format('truetype');
} 


/***********ESTRUCTURA BASICA**************/
body{
    font-family: Roboto-Black;
}

.contenedor{
    width:96% !important;
    margin:auto;
    /*border:1px solid green;*/
}

#semifoot{
  background-color:#EDECEC;
  height:190px;
}

#semifoot .contenedor{
  width: 85% !important;
  padding:60px 20px;
}

#semifoot .contenedor img{
  width:80px;
  padding-left: 10px;
}

#prefoot{
   background-color:#EDECEC;
}

#prefoot .contenedor{
   width:85% !important;
}

#prefoot h4{
  color:#DC0330;
}

#prefoot img{
  width: 50px;
}

#prefoot .tittlefoot h4{
  margin: 10px 15px;
  color:black;
  font-size:20px;
}

#prefoot .tittlefoot ul li{
  margin: 5px -25px;
  font-size:16px;
  list-style:none;
}

#prefoot .tittlefoot h4 l{
  color:#DC0330;
}

#prefoot .tittlefoot ul li a{
  color:#000;
}

/***********ESTRUCTURA MENU 1*************/
#base_uno{
  background: #fff !important;
}

#base_uno ul li a{
  margin:5px 55px;
  color:white;
}

#base_uno #user_data1{
  margin-top:23px;
}

#base_uno #user_data1 a{
  margin:0;
  color: #000;
}

#base_uno .item a{
  margin-top:30px;
  color:black;
}

#base_uno #item2{
  margin-top:30px;
  margin-right:0px !important;
}

#base_uno #oculto{
  margin:10px;
}

#base_uno #item2 a{
  margin-right:30px;
  color:black;
}

/***********ESTRUCTURA COMPARTIDA MENU 2*************/

#rojito{
  display:none;
}

#navbarTogglerDemo01 .item{
  margin:auto 2px;
  color:black;
}

#logo{
  margin: 0 auto !important;
}
/*------------Guia tallas-------------------*/

#modaltallas{
  background-color:transparent;
  color:blue;
  border:0px;
  outline: none !important;
}

#modaltallas:active:focus {
  outline: none !important;
  border: 0px solid;
}

#modaltallas:active:hover {
  outline: none !important;
  border: 0px solid;
}

#modaltallas:visited:hover {
  outline: none !important;
  border: 0px solid;
}

/*-------------Carrousel--------------------->*/
.carousel{
  background:red;
  margin:0 auto;
  width:85%;
}
.carousel-item img { 
  width:100%;
  object-fit: cover;
}

.carousel-inner h3{
  position:relative;
  font-size:92px;
  margin: 150px -100px;
  text-align:left;
}
/*--------------Fin Carrouse---------------->*/

/*-----------------Modal---------------*/
#popup {
   visibility: hidden;
   display: none;
   opacity: 0;
   margin-left: -400px;
   -webkit-animation:autopopup 2s;
   -moz-animation:autopopup 2s;
   animation:autopopup 2s;
}

@-webkit-keyframes autopopup {
  from {opacity: 0;margin-top:-200px;}
  to {opacity: 1;}
}

@-moz-keyframes autopopup {
  from {opacity: 0;margin-top:-200px;}
  to {opacity: 1;}
}

@keyframes autopopup {
  from {opacity: 0;margin-top:-200px;}
  to {opacity: 1;}
}

#popup:target {
   visibility:visible;
   display: inline;
   opacity: 1;
   background-color: rgba(0,0,0,0.8);
   position: fixed;
   top:0;
   left:0;
   right:0;
   bottom:0;
   margin:0;
   z-index: 999;
   -webkit-transition: all 800ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
   -moz-transition: all 800ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
   -o-transition: all 800ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
   transition: all 800ms cubic-bezier(0.250, 0.100, 0.250, 1.000); /* ease (default) */
}

.popup-contenedor {
   position: relative;
   margin:0;
   padding:30px 50px;
   background-color: #DC0330;
   color:#333;
   border-radius: 3px;
   width:70%;
   height: 100%;
}

a.popup-cerrar {
   position: relative;
   top:3px;
   right:3px;
   /*background-color: #fff;*/
   padding:7px 10px;
   font-size: 25px;
   text-decoration: none;
   line-height: 1;
   color:#fff;
}
/*-------------Fin Modal-----------------------*/

/*************************************************Galeria Productos**************************************************/

.ContentGalerie{
  margin-left:80px;
  margin-right:-115px;
  margin-top:25px;
}

.ContentGalerie .product-grid6{
  width:80%;
  /*border:1px solid green;*/
  margin-left:17px;
  margin-top:20px;
}

.product-grid6 .product-image6 .pic-1{
    width:100%;
    transition:all .5s ease 0s
}

/*************************************************Detalle Producto**************************************************/

.gallery-wrap .img-big-wrap{
    margin:50px 220px;
    height:600px;
    width:60%;
}

.gallery-wrap .img-big-wrap img {
    height: 100%;
    width: 100%;
    position:relative;
    margin-top:0px;
    float:right;
}

.gallery-wrap .img-small-wrap .item-gallery {
    width: 150px;
    height: 150px;
    border: 1px solid #ddd;
    margin: 55px 40px;
}

.gallery-wrap .img-small-wrap {
    margin: -640px 10px;
}

.gallery-wrap .img-small-wrap img {
    width:100%;
    height: 100%;
    border-radius: 4px;
}


/*----------------------Seccion Hombre-----------------------*/
#elegante{
  width:90%;
  margin:0 90px;
}

#esencial{
  width:90%;
  margin:0 15px;
}

#subtitulo{
  color: #DC0330;
  position: absolute; 
  margin: 250px 200px;
  font-size:60px;
}

#subtitulo1{
  color: white;
  position: absolute; 
  margin: 250px 90px;
  font-size:60px;
}
/*------------------------Fin seccion Hombre--------------*/

/*------------------Seccion de Damas----------------------*/
.activo{
  background: black;
  color: white;
}

.btns{
  margin:0 12px;
}
/*------------------Fin seccion de Damas-------------------*/


/*+++++++++++++++++++SECCION MULTIDISPO+++++++++++++++++++++*/

/*@media only screen and (min-width: 320px) and (max-width: 736px){
  #rojito{
    display:inline;
    margin:0 auto !important;
  }
}*/

@media only screen and (min-width: 300px) and (max-width: 800px){

  #base_uno #item2{
    margin:20px 0;
  }

  #rojito{
    display:inline;
    margin:0 auto !important;
  }

  .gallery-wrap .img-big-wrap img {
    width: 100%;
    display: inline-block;
  }

  .gallery-wrap .img-small-wrap .item-gallery {
    width: 60px;
    height: 60px;
    border: 1px solid #ddd;
    margin: 7px 2px;
    display: inline-block;
    overflow: hidden;
  }

  .gallery-wrap .img-small-wrap {
    text-align: center;
  }

  .gallery-wrap .img-small-wrap img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 4px;
  }

  .carousel-inner h3{
    position:relative;
    font-size:23px;
    margin:0px -10px;
    text-align:left;
  }

  .carousel-item img { 
    width:90%;
    margin:0 auto;
    object-fit: cover;
  }

  #tittleSesion{
    float:left;
    padding:2px 3px;
    margin-left:20px;
    font-size:24px;
  }
 
  #tittleRegistre{
    color:#900C3F;
    padding:2px 3px;
    font-size:24px;
  }

  #tittleSesion2{  
    padding:2px 3px;
    font-size:24px;  
  }
  #tittleRegistre2{
    float:left;
    color:#900C3F;
   padding:2px 3px;
    margin-left:20px;
    font-size:24px;
  }

  .icons ul{
    margin:0 -20px;
    color:red;
  }
  
  /************Seccion Contacto************/
  #correos ul{
    margin:0 -30px;
    color:red;
  }

  #correos ul li{
    padding:2px;
  }

  #correos ul li a{
    text-decoration:underline;
  }

    /*************************************************Galeria Productos**************************************************/

  .ContentGalerie{
    margin-left:-1px;
    margin-top:0;
    /*border:1px solid red;*/
    position:relative;
  }

  .ContentGalerie .product-grid6{
    width:100%;
    /*border:1px solid green;*/
    margin-left:0px;
    margin-top:20px;
  }

  .product-grid6 .product-image6 .pic-1{
    width:100%;
    transition:all .5s ease 0s
  }

  /*----------------------Seccion Hombre-----------------------*/

  #elegante{
    width:100%;
    margin:0 auto;
  }

  #esencial{
    width:100%;
    margin: 10px auto;
  }

  #subtitulo{
    color: #DC0330;
    position: absolute; 
    margin: 150px 45px;
    font-size:60px;
  }

  #subtitulo1{
    color: white;
    position: absolute; 
    margin: 140px 20px;
    font-size:58px;
  }

  /*+++++++++++++DISEÑO INPUTS+++++++++++++++*/

  .wrap {
    width: 270px;
    margin: 0 auto;
  }

  .mat-label {
    display: block;
    margin-left:5px;
    margin-bottom: -5px;
    font-size: 12px;
    transform: translateY(spx);
    color: #8E8DBE;
    transition: all 0.10s;
  }

  .mat-input {
    position: relative;
    background: transparent;
    width: 100%;
    height: 0px;
    border-left: 1px solid #8E8DBE;
    border-top:none;
    border-right: 1px solid #8E8DBE;
    border-bottom: 1px solid #8E8DBE;
    outline: none;
    padding: 8px 0;
    font-size: 16px;
  }

  .mat-div {
    padding: 30px 0 0 0;
    position: relative;
  }

  .mat-div:after, .mat-div:before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    transition: all 0.5s;
  }

  .mat-div::after {
    background-color: #8E8DBE;
    transform: scaleX(0);
  }

  .is-active::after {
    transform: scaleX(1);
  }

  .is-active .mat-label {
    color: #8E8DBE;
  }

  .is-completed .mat-label {
    font-size: 14px;
    transform: translateY(0);
    margin-bottom:0;
  }

  #mensaje{
    width:100% !important;
  }
} /*Fin media query*/


@media (max-width: 990px) {
  
  /******AREA MENU********/
  #rojito{
    display:inline;
    margin:0 auto !important;
  }

  #oculto, #logo{
    display:none;
  }

  #base_uno ul li a{
    margin:0;
  }


  #menu_base2 ul li a{
    margin:0;
  }

  #subtitulo{
    color: white;
    position: absolute; 
    margin: 180px 60px;
  }

  #subtitulo1{
    color: red;
    position: absolute; 
    margin: 140px 60px;
  }

  .wrap {
    width: 100%;
    margin: 0 auto;
  }

  .gallery-wrap .img-big-wrap img {
    height: 450px;
    width: 100%;
    display: inline-block;
    cursor: zoom-in;
  }

  .gallery-wrap .img-small-wrap .item-gallery {
    width: 60px;
    height: 60px;
    border: 1px solid #ddd;
    margin: 7px 2px;
    display: inline-block;
    overflow: hidden;
  }

  .gallery-wrap .img-small-wrap {
    text-align: center;
  }

  .gallery-wrap .img-small-wrap img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 4px;
    cursor: zoom-in;
  }

}

@media only screen and (min-device-width : 990px) and (max-device-width : 1024px) {
  
  #rojito{
    display:none;
    margin:0 auto !important;
  }

  #base_uno #item{
    margin:10px 0;
  }

  #base_uno #item2{
    margin:30px 0px;
  }

}

@media only screen and (min-width : 1800px) {
  
  #base_uno #item{
    margin:30px 40px;
  }

  #base_uno #item2{
    margin:30px 70px !important;
  }

  #logo{
     margin-left:-50px;
  }
}

@media only screen and (min-width : 1400px) {
  #base_uno ul li a{
    margin:40px 60px !important;
  }

  #base_uno #item2{
    margin:30px 25px;
  }

  #logo{
    margin-left:-40px;
  }
}